.footer {
  padding: 23px 0px 72px 0px;
  background-color: var(--peral-bush);
  @include laptop-min {
    padding-bottom: 40px;
  }
  &__content {
    font-size: 16px;
    line-height: 120%;
    opacity: 0.6;
  }
}
