.header {
  position: absolute;
  padding: 27px 0px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  @include tablet {
    padding: 18px 0px;
  }
  &__logo {
    display: flex;
    gap: 8px;
    span {
      font-size: 16px;
      line-height: 108%;
      font-weight: 700;
      text-transform: uppercase;
    }
    @include tablet {
      gap: 6px;
      span {
        font-size: 14px;
      }
    }
  }
  &__logo-img {
    width: 91px;
    height: auto;
    @include tablet {
      width: 80px;
    }
  }
}
