<section class="stages" id="stages">
  <div class="container">
    <div class="stages__head">
      <h2 data-aos="fade-down" class="title title-2">Этапы преображения Васюков</h2>
      <p data-aos="fade-up" class="stages__head-descr">Будущие источники обогащения васюкинцев</p>
    </div>
    <div class="stages__slider">
      <img src="@img/plane.png" alt="Plane" class="stages__plane">
      <div class="swiper-wrapper">
        <div class="stages__slider-item">
          <span class="stages__slider-item--number">1</span>
          <p class="stages__slider-item--content">
            Строительство железнодорожной магистрали Москва-Васюки
          </p>
        </div>
        <div class="stages__slider-item">
          <span class="stages__slider-item--number">2</span>
          <p class="stages__slider-item--content">
            Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов
          </p>
        </div>
        <div class="stages__slider-item">
          <span class="stages__slider-item--number">3</span>
          <p class="stages__slider-item--content">
            Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей,
            фруктов, икры, шоколадных конфет
          </p>
        </div>
        <div class="stages__slider-item">
          <span class="stages__slider-item--number">4</span>
          <p class="stages__slider-item--content">Строительство дворца для турнира</p>
        </div>
        <div class="stages__slider-item">
          <span class="stages__slider-item--number">5</span>
          <p class="stages__slider-item--content">
            Размещение гаражей для гостевого автотранспорта
          </p>
        </div>
        <div class="stages__slider-item">
          <span class="stages__slider-item--number">6</span>
          <p class="stages__slider-item--content">
            Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов
          </p>
        </div>
        <div class="stages__slider-item">
          <span class="stages__slider-item--number">7</span>
          <p class="stages__slider-item--content">
            Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов
            и дирижаблей во все концы света, включая Лос-Анжелос и Мельбурн
          </p>
        </div>
      </div>
    </div>
    <div class="stages__slider-nav"> 
      <button class="slider-button slider-button--prev">
        <svg class="slider-button__icon">
          <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
        </svg>
      </button>
      <div class="slider-pagination swiper-pagination"></div>
      <button class="slider-button slider-button--next">
        <svg class="slider-button__icon">
          <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
        </svg>
      </button>
    </div>
  </div>
</section>
