.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  padding: 14px;
  border-radius: 66px;
  border: 2px solid var(--black);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  @include laptop-min {
    padding: 12px;
  }
  &.btn-primary {
    color: white;
    background-color: var(--black);
    @include hover {
      background-color: transparent;
      color: var(--black);
    }
  }
  &.btn-stroke {
    color: var(--black);
    @include hover {
      background-color: var(--black);
      color: white;
    }
    @include mobile {
      color: var(--black);
      background-color: white;
      border-color: white;
      @include hover {
        background-color: var(--black);
        color: white;
        border-color: var(--black);
      }
    }
  }
}
